@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/\.rbenv\/versions\/1\.9\.3-p194\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/\.rbenv\/versions\/1\.9\.3-p194\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/\.rbenv\/versions\/1\.9\.3-p194\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/\.rbenv\/versions\/1\.9\.3-p194\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/\.rbenv\/versions\/1\.9\.3-p194\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/\.rbenv\/versions\/1\.9\.3-p194\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/\.rbenv\/versions\/1\.9\.3-p194\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/\.rbenv\/versions\/1\.9\.3-p194\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/\.rbenv\/versions\/1\.9\.3-p194\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\000038}}
body {
  font-family: "Helvetica Nueue", "Helvetica";
  font-size: 13px;
  line-height: 18px;
  color: #222222; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000314}}
code {
  font-family: Monaco; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000317}}
#site {
  width: 960px;
  margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000321}}
  #site #site-header {
    margin-top: 30px;
    color: #123456; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000326}}
    #site #site-header #logo a {
      display: block;
      text-indent: -119988px;
      overflow: hidden;
      text-align: left;
      background-image: url('../images/railsyard-logo.png?1347619183');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      max-width: 100%;
      height: 80px;
      background-size: contain;
      background-position: left center;
      margin-bottom: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000335}}
    #site #site-header .subtitle {
      font-size: 20px;
      font-weight: bold;
      color: #3d70c1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000340}}
    #site #site-header nav {
      margin-top: 20px;
      font-size: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000344}}
      #site #site-header nav ul li {
        display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000347}}
        #site #site-header nav ul li:after {
          content: " \2022";
          color: #3d70c1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000351}}
        #site #site-header nav ul li:last-child:after {
          content: ""; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000354}}
        #site #site-header nav ul li a {
          color: #3d70c1;
          display: inline;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000361}}
  #site #site-content {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000366}}
    #site #site-content a {
      color: #3d70c1;
      text-decoration: none;
      font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000371}}
    #site #site-content h1 {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 20px;
      font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000377}}
    #site #site-content table {
      width: 100%;
      margin: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000381}}
      #site #site-content table th {
        font-weight: bold;
        font-size: 15px;
        border-bottom: 1px solid #3d70c1;
        color: #3d70c1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000387}}
      #site #site-content table td {
        border-bottom: 1px solid #58595b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000390}}
      #site #site-content table td, #site #site-content table th {
        padding: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000393}}
      #site #site-content table .plugin-dependent {
        width: 20%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000396}}
      #site #site-content table .plugin-description {
        width: 40%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\0000399}}
    #site #site-content #slideshow {
      float: right;
      width: 477.5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003105}}
      #site #site-content #slideshow ul li {
        color: white;
        left: 0;
        right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003110}}
        #site #site-content #slideshow ul li pre code {
          padding: 20px;
          line-height: 20px;
          font-family: Monaco; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003115}}
        #site #site-content #slideshow ul li .caption {
          padding: 15px 20px;
          background-color: #333333;
          line-height: 18px;
          margin-top: 1px;
          font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003122}}
          #site #site-content #slideshow ul li .caption h3 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003127}}
      #site #site-content #slideshow nav {
        *zoom: 1;
        margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/\.rbenv\/versions\/1\.9\.3-p194\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
        #site #site-content #slideshow nav:after {
          content: "";
          display: table;
          clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003131}}
        #site #site-content #slideshow nav a {
          width: 50%;
          float: left;
          background-color: #333333;
          padding: 15px 0;
          text-align: center;
          color: white;
          text-decoration: none;
          font-weight: bold;
          text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003142}}
          #site #site-content #slideshow nav a:hover {
            background-color: #222222; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003145}}
          #site #site-content #slideshow nav a.next {
            margin-left: -1px;
            border-left: 1px solid white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003149}}
            #site #site-content #slideshow nav a.next:after {
              content: " >"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003152}}
          #site #site-content #slideshow nav a.prev:before {
            content: "< "; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003155}}
    #site #site-content ul#features {
      width: 437.5px;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003159}}
      #site #site-content ul#features li {
        margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003162}}
        #site #site-content ul#features li h3 {
          font-size: 20px;
          line-height: 22px;
          margin-bottom: 5px;
          font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003168}}
        #site #site-content ul#features li p {
          margin-bottom: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003171}}
        #site #site-content ul#features li:first-child {
          margin-bottom: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003174}}
          #site #site-content ul#features li:first-child h3 {
            font-size: 30px;
            line-height: 30px;
            font-weight: bold;
            margin-bottom: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003180}}
          #site #site-content ul#features li:first-child p {
            margin-bottom: 15px;
            font-size: 18px;
            line-height: 22px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003185}}
  #site #site-footer {
    background-color: #3d70c1;
    padding: 20px;
    font-size: 15px;
    color: white;
    overflow: hidden;
    *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003192}}
    #site #site-footer a {
      color: white;
      font-weight: bold;
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003197}}
    #site #site-footer .who {
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steffoz\/code\/sites\/railsyard\/stylesheets\/screen\.sass}line{font-family:\00003200}}
    #site #site-footer .copyright {
      float: right; }
